/** Fonts **/
@font-face {
  font-family: 'Tauri';
  src: url('./fonts/TauriRegular.eot');
  src: url('./fonts/TauriRegular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/TauriRegular.woff2') format('woff2'),
    url('./fonts/TauriRegular.woff') format('woff'),
    url('./fonts/TauriRegular.ttf') format('truetype'),
    url('./fonts/TauriRegular.svg#TauriRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Carter One';
  src: url('./fonts/CarterOne.eot');
  src: url('./fonts/CarterOne.eot?#iefix') format('embedded-opentype'),
    url('./fonts/CarterOne.woff2') format('woff2'),
    url('./fonts/CarterOne.woff') format('woff'),
    url('./fonts/CarterOne.ttf') format('truetype'),
    url('./fonts/CarterOne.svg#CarterOne') format('svg');
  font-weight: normal;
  font-style: normal;
}

/** General **/
html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;

  margin: 0;
  padding: 0;

  perspective: 500px;
}

::selection {
  color: #fff;
  background: #ff007f;
}

/** Loader **/
.introduction {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 30rem;

  box-sizing: border-box;
  padding: 2rem;

  transform: translate(-50%, -50%);
  text-align: center;
}

/** Title **/
@keyframes title-appears {
  0% {
    opacity: 0;
    transform: skewX(0deg) rotateZ(-10deg) translateX(-100%);
  }

  30% {
    transform: skewX(-15deg) rotateZ(-10deg) translateX(10%);
  }

  60% {
    transform: skewX(-5deg) rotateZ(-10deg) translateX(-10%);
  }

  100% {
    opacity: 1;
    transform: skewX(-10deg) rotateZ(-10deg) translateX(0%);
  }
}

.introduction__title {
  font-family: 'Carter One', cursive;
  font-size: 7rem;
  font-weight: normal;
  line-height: 1.2em;

  margin: 0;

  opacity: 0;

  animation: title-appears 1s;
  animation-fill-mode: forwards;
}

.introduction__title:nth-of-type(1) {
  animation-delay: 1s;
}

.introduction__title:nth-of-type(2) {
  animation-delay: 1.2s;
}

.title__rect--foreground {
  fill: #fff;

  transform-origin: left;
  transform: scaleX(0);
}

.title__rect--background {
}

.title__text--transparent {
  fill: transparent;
}

.introduction__loading {
  font-family: 'Tauri', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: #fff;

  margin-top: 4rem;

  will-change: transform, opacity;
}

/** Letters **/
@keyframes letter-appears {
  0% {
    opacity: 0;
    transform: translateY(200%);
  }

  30% {
    transform: translateY(-10%);
  }

  60% {
    transform: translateY(10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.loading__letter {
  display: inline-block;

  opacity: 0;

  animation: letter-appears 1s;
  animation-fill-mode: forwards;

  will-change: transform, opacity;
}

.loading__letter:nth-child(1) {
  animation-delay: 1.5s;
}

.loading__letter:nth-child(2) {
  animation-delay: 1.6s;
}

.loading__letter:nth-child(3) {
  animation-delay: 1.7s;
}

.loading__letter:nth-child(4) {
  animation-delay: 1.8s;
}

.loading__letter:nth-child(5) {
  animation-delay: 1.9s;
}

.loading__letter:nth-child(6) {
  animation-delay: 2s;
}

.loading__letter:nth-child(7) {
  animation-delay: 2.1s;
}

.introduction__instructions {
  font-family: 'Tauri', sans-serif;
  letter-spacing: 0.2em;
  line-height: 1.6rem;
  font-size: 1rem;

  color: #fff;

  margin-top: -3rem;

  display: none;
}

.instructions__word {
  white-space: nowrap;
  display: inline-block;
}

.instructions__letter {
  display: inline-block;

  opacity: 0;

  will-change: opacity, transform;
}

.introduction__button {
  font-family: 'Tauri', sans-serif;
  letter-spacing: 0.2em;
  font-size: 1rem;

  color: #fff;

  opacity: 0;

  border: 2px solid #fff;
  border: none;
  background: transparent;

  padding: 1rem;

  margin-top: 1rem;

  transform: translateY(100%);

  cursor: pointer;

  will-change: opacity, transform;
}

.introduction__button:focus {
  outline: none;
}

.footer__button,
.header__button {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Carter One', cursive;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.2em;
  cursor: pointer;
  position: absolute;
  letter-spacing: 0.1rem;
  left: 50%;
  transform: translateX(-50%);
}

.footer__button {
  bottom: 1rem;
}

.header__button {
  top: 1rem;
}

@media all and (max-width: 800px) and (orientation: landscape) {
  .introduction {
    max-width: 18rem;
  }

  .introduction__loading {
    margin-top: 2rem;
  }

  .introduction__instructions {
    letter-spacing: 0.2em;
    line-height: 1.4rem;
    font-size: 0.7rem;
  }

  .introduction__button {
    font-size: 0.7rem;
  }
}
